* {
  margin: 0;
  padding: 0;
}

.main-content {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(white, #d3d8e8);
}

.left-content {
  width: 800px;
}

.slogan-container {
  width: 500px;
}

#facebook-slogan {
  color: rgba(14, 57, 93, 255);
}

.right-content {
  width: 300px;
}

#errorMessage {
  background-color: rgba(239, 69, 104, 255);
  color: white;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  margin: 10px auto;
}

.top-bar {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  padding: 2vh 0;
}

.top-bar > div {
  width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.facebook-logo {
  width: 190px;
}

.facebook-login {
  align-items: center;
  display: flex;
}

.loginLabel {
  color: #fff;
  font-weight: normal;
  padding-left: 1px;
  font-size: 13px;
}

.white-text {
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 7px;
}

.form-control {
  align-self: center;
}

.form-group a {
  color: #9cb4d8;
  text-decoration: none;
  font-size: 12px;
}

.form-group a:hover {
  text-decoration: underline;
}
